@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: #703412;
  --sub-main-color: rgba(112, 52, 18, 0.72);
  --second-color: #fff;
  --sub-second-color: rgba(255, 255, 255, 0.72);
  --project-transition: 0.3s ease-in-out;
  --project-opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fefbf1;
  /* width: 100%; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.header__list-item {
  display: inline-block;
  color: var(--main-color);
  font-size: 14px;
  line-height: 150%;

  margin: 27px 0;

  transition: var(--project-transition);
  border-bottom: 3px transparent solid;
}

.header__list-item:hover {
  opacity: var(--project-opacity);
  border-color: var(--main-color);
}

/* Container */

.container {
  padding: 0 72px;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Welcome section */

.welcome {
  display: flex;
  flex-direction: column;
  padding: 120px 280px 123px 72px;
}

.welcome__comment {
  font-size: 11px;
  line-height: 400%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 21px;
}

.welcome__title {
  font-weight: 400;
  font-size: 80px;
  line-height: 110%;
  color: var(--main-color);
}

/* Explore section */

.explore__container {
  display: flex;
  flex-direction: column;

  padding: 0 72px;
}
.explore__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: var(--main-color);
  padding-bottom: 194px;
}
.explore__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;

  padding-bottom: 122px;

  outline: 2px red solid;
}

.explore__card {
  display: flex;
  flex-direction: column;
  width: 312px;
  border-radius: 8px;
}

.explore__card-img {
  border-radius: 8px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 32px;
  /* width: 312px; */
  height: 312px;
  transition: var(--project-transition);
}

.explore__card:hover .explore__card-img {
  scale: 1.1;
}

.explore__card_bigger img {
  height: 416px;
}

.explore__card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--main-color);
  padding-bottom: 11px;

  transition: var(--project-transition);
}

.explore__card:hover .explore__card-title {
  color: var(--sub-main-color);
  opacity: var(--project-opacity);
}

.explore__card-subtitle {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  padding-bottom: 5px;

  color: var(--sub-main-color);
  transition: var(--project-transition);

  border-bottom: 3px transparent solid;
  border-radius: 5px;
}

.explore__card:hover .explore__card-subtitle {
  border-bottom-color: var(--main-color);
  opacity: var(--project-opacity);
}

/* Footer */

.footer {
  background-color: #084935;
  color: var(--second-color);
}

.footer a {
  color: var(--sub-second-color);
  transition: var(--project-transition);
}

.footer a:hover {
  opacity: var(--project-opacity);
}

/* Footer contacts */
.footer__contacts {
  padding: 120px 96px 72px 72px;
}
.footer__contact-subtitle {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--second-color);

  padding-bottom: 24px;
}
.footer__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 128%;
  color: var(--second-color);

  padding-bottom: 148px;
}

.footer__title a {
  text-decoration: 2px underline wavy;
}

.footer__contact-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 7px;
}

/* Footer bottom */

.footer__bottom {
  border-top: 1px rgba(255, 255, 255, 0.16) solid;
  padding: 19px 0 26px 72px;
}

@media (max-width: 1350px) {
  .explore__cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    outline: 2px green solid;
  }
}

@media (max-width: 1270px) {
  .welcome {
    padding-right: 140px;
  }
}

@media (max-width: 1130px) {
  .welcome {
    padding-right: 72px;
  }
}

@media (max-width: 975px) {
  .container {
    padding: 0 36px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 830px) {
  .welcome {
    padding: 90px 36px;
  }

  .welcome__comment {
    margin-bottom: 15px;
  }

  .welcome__title {
    font-size: 64px;
  }

  .explore__container {
    padding: 0 36px;
  }

  .explore__title {
    font-size: 28px;

    padding-bottom: 135px;
  }

  .footer__contacts {
    padding: 80px 36px 40px 36px;
  }

  .footer__title {
    font-size: 24px;

    padding-bottom: 100px;
  }

  .footer__bottom {
    padding: 19px 36px 24px 36px;
  }
}

@media (max-width: 760px) {
  .explore__cards {
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
  }
}

/*

TODO:
Decrease card sizes, footer grid 4 columns

*/
